apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: portforwardrule-manager
  namespace: default
rules:
- apiGroups:
  - port-forwarder.unifi.com
  resources:
  - portforwardrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - port-forwarder.unifi.com
  resources:
  - portforwardrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - port-forwarder.unifi.com
  resources:
  - portforwardrules/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch