apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: portforwardrule-manager
  namespace: unifi-port-forward
rules:
  - apiGroups:
      - unifi-port-forward.fiskhe.st
    resources:
      - portforwardrules
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - unifi-port-forward.fiskhe.st
    resources:
      - portforwardrules/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - unifi-port-forward.fiskhe.st
    resources:
      - portforwardrules/finalizers
    verbs:
      - update
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
